<!--<form class="form-header" onsubmit="return false;" method="GET">-->
    <br>
<form>
    <div class="row">

      <div class="col">
        <input #myCountry type="text" 
                class="form-control" 
                placeholder="Search for country"
                (keyup.enter)="searchByCountry(myCountry.value)">
      </div>
      <div class="col">
        <button (click)="searchByCountry(myCountry.value)" class="btn btn-outline-dark">
            Search
        </button>

      </div>
      <div class="col">
        <input #myState type="text" 
                class="form-control" 
                placeholder="Search for state"
                (keyup.enter)="searchByState(myState.value)">
      </div>
      <div class="col">
        <button (click)="searchByState(myState.value)" class="btn btn-outline-dark">
            Search
        </button>
      </div>

      <div class="col">
        <button style="margin-left: 50px;" (click)="getAllCustomers()" class="btn btn-outline-dark">
            Get All
        </button>
      </div>
    </div>
  </form>
  <br>